<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/vendor/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/vendor/css/mui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/nucleus.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    <title>
        {{ title }}
    </title>
</head>
<body>
    <div class="content">
        <div class="left-container">
            <div id="icon"><h1>{{title}}</h1></div>

            <!-- Nucleus -->
            <div class="atom-loader">
                <div class="atom-inner atom-one"></div>
                <div class="atom-inner atom-two"></div>
                <div class="atom-inner atom-three"></div>
                <div class="atom-inner atom-four"></div>
                <div class="atom-inner atom-center-one"></div>
                <div class="atom-inner atom-center-two"></div>
                <div class="atom-inner atom-center-three"></div>
                <div class="atom-inner atom-center-four"></div>
            </div>
            <!-- -->

            <div id="particle-canvas"></div>
        </div>

        <div class="right-container">
            <button id="voice-btn" class="mui-btn--primary" id="start_button"></button>
            <button id="modal-btn" class="mui-btn--primary"></button>
            <form id="search-form" class="mui-form--inline" method="POST" action="/send">
                <div class="form-group mui-textfield">
                    <input type="text" name="i" size="60" id="form-input" value="">
                </div>
                <input class="mui-btn mui-btn--primary submit-btn" type="submit" value="submit">
            </form>
            <div class="output-container">
                {% if data_return == "true" %}
                    <ul>
                    {% for pod in pods %}
                        {% if pod.title %}
                            <li>
                                <div class="pod-title mui--text-headline">
                                    {{ pod.title|e }}
                                </div>
                                <div class="mui-divider"></div>
                                    {% for subpod in pod.podsubpod %}
                                        <ul>
                                            {% if subpod.title  %}
                                                <div class="subpod-title mui--text-subhead">
                                                    <li>{{ subpod.title|e }}</li>
                                                </div>
                                            {% endif %}

                                            {% if subpodtext %}
                                                <div class="text">
                                                    <li>{{ subpod.text|e }}</li>
                                                </div>
                                            {% endif %}

                                            {% if subpod.img %}
                                                <div class="image">
                                                    <li><img src='{{ subpod.img|e }}' class="mui-panel" /></li>
                                                </div>
                                            {% endif %}
                                        </ul>
                                    {% endfor %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>   
                {% elif data_return == "false" %}
                    <div class="mui-appbar error-bar"><h2>No data found</h2></div>
                {% endif %}
                <div id="sent" title="{{ sent }}"></div>
            </div>
        </div>
    </div>
    <div id="footer">
       
    </div>
    <!-- Scripts -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='../static/vendor/js/particle-network.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../static/js/particle-network-run.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='../static/js/speech.js') }}"></script>-->
    <script src="{{ url_for('static', filename='../static/vendor/js/mui.min.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='../static/js/scripts.js') }}"></script>-->
    <script src="{{ url_for('static', filename='../static/js/bundle.js') }}"></script>
    <script>
        activateModal = function() {
            var original_ele = document.getElementsByClassName('output-container')[0];

            $("#modal-btn").click(function(){
                var cln = original_ele.cloneNode(true);
                var modalEl = cln;
                modalEl.style.width = '600px';
                modalEl.style.height = 'auto';
                modalEl.style.margin = '100px auto';
                modalEl.style.padding = '15px';
                modalEl.style.background = 'white';
                modalEl.style.borderradius = '5px;';

                modalEl.style.backgroundColor = '#fff';

                // show modal
                mui.overlay('on', modalEl);
            });
        }
    </script>
</body>
</html>