<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cendor/mui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nucleus.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>
        {{ title }}
    </title>
</head>
<body>
    <div class="content">
        <div class="left-container">
            <div id="icon"><h1>{{title}}</h1></div>

            <!-- Nucleus -->
            <div class="atom-loader">
                <div class="atom-inner atom-one"></div>
                <div class="atom-inner atom-two"></div>
                <div class="atom-inner atom-three"></div>
                <div class="atom-inner atom-four"></div>
                <div class="atom-inner atom-center-one"></div>
                <div class="atom-inner atom-center-two"></div>
                <div class="atom-inner atom-center-three"></div>
                <div class="atom-inner atom-center-four"></div>
            </div>
            <!-- -->

            <div id="particle-canvas"></div>
        </div>

        <div class="right-container">
            <button id="voice-btn" class="mui-btn--primary" id="start_button" onclick="startButton(event)"></button>
            <button id="modal-btn" class="mui-btn--primary" onclick="activateModal()"></button>
            <form id="search-form" class="mui-form--inline" method="POST" action="/send">
                <div class="form-group mui-textfield">
                    <input type="text" name="i" size="60" id="form-input" value="">
                </div>
                <input class="mui-btn mui-btn--primary submit-btn" type="submit" value="submit">
            </form>
            <div class="output-container">
                {% if data_return == "true" %}
                    <ul>
                    {% for pod in pods %}
                        {% if pod.title %}
                            <li>
                                <div class="pod-title mui--text-headline">
                                    {{ pod.title|e }}
                                </div>
                                <div class="mui-divider"></div>
                                    {% for subpod in pod.podsubpod %}
                                        <ul>
                                            {% if subpod.title  %}
                                                <div class="subpod-title mui--text-subhead">
                                                    <li>{{ subpod.title|e }}</li>
                                                </div>
                                            {% endif %}

                                            {% if subpodtext %}
                                                <div class="text">
                                                    <li>{{ subpod.text|e }}</li>
                                                </div>
                                            {% endif %}

                                            {% if subpod.img %}
                                                <div class="image">
                                                    <li><img src='{{ subpod.img|e }}' class="mui-panel" /></li>
                                                </div>
                                            {% endif %}
                                        </ul>
                                    {% endfor %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>   
                {% elif data_return == "false" %}
                    <div class="mui-appbar error-bar"><h2>No data found</h2></div>
                {% endif %}
                <div id="sent" title="{{ sent }}"></div>
            </div>
        </div>
    </div>
    <div id="footer">
       
    </div>
    <script src="{{ url_for('static', filename='js/particle-network.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/three.js') }}"></script>
    {% block javascript %}
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script>
            var options = {
            particleColor: '#bfbfbf',
            background: '#fff',
            interactive: true,
            speed: 'fast',
            density: 'high'
        };
        var particleCanvas = new ParticleNetwork(document.getElementById('particle-canvas'), options);
        </script>
         <script>
        function activateModal() {
            // initialize modal element
            var original_ele = document.getElementsByClassName('output-container')[0];
            var cln = original_ele.cloneNode(true);
            var modalEl = cln;
            modalEl.style.width = '600px';
            modalEl.style.height = 'auto';
            modalEl.style.margin = '100px auto';
            modalEl.style.padding = '15px';
            modalEl.style.background = 'white';
            modalEl.style.borderradius = '5px;';

            modalEl.style.backgroundColor = '#fff';

            // show modal
            mui.overlay('on', modalEl);

        }
        </script>
        <script>
        console.log("js loaded");

        var recognizing = false;
        var ignore_onend;
        var final_transcript = '';
        var start_timestamp;
        var isCommand = false;
        var input_val = document.getElementById('form-input');

        // Web Speech
        if (!('webkitSpeechRecognition' in window)) {
            upgrade();
        } else {
            console.log('speech recognition function');
            var grammar = '#JSGF V1.0; grammar words; public <commands> = on-screen | home screen | june search ;'
            var recognition = new webkitSpeechRecognition();

            // grammar stuff
            var speechRecognitionList = new webkitSpeechGrammarList();
            speechRecognitionList.addFromString(grammar, 1);
            recognition.grammars = speechRecognitionList;
            console.log(speechRecognitionList[0].src);

            recognition.continuous = true;
            console.log(recognition.continuous);
            recognition.interimResults = true;

            console.log(document.getElementById("sent").title);

            // On Start
            recognition.onstart = function(event) {
                console.log('Speech recognition service has started');
                recognizing = true;
            };

            // On Audio Start
            recognition.onaudiostart = function(event) {
                console.log('Audio capturing started');
                // pass value to have css change 
                // indicate that jun is listening
            };

            // On Error
            recognition.onerror = function(event) {
                if (event.error == 'no-speech') {
                    console.log('error');
                    recognition.continuous = true;
                    recognition.start();
                }
            };

            // Continue listening
            if (document.getElementById("sent").title == 'True') {
                recognition.start();
            }

            // On end
            recognition.onend = function() {
                console.log('Speech recognition service disconnected');
                recognizing = false;
            };

            // On Result
            recognition.onresult = function(event) {
                console.log('Audio result');
                var command = '';
                var returned_speech = event.results[0][0].transcript;
                console.log(returned_speech + " RETURNED SPEECH");

                // auto update input file not working
                // document.getElementById('form-input').value += returned_speech;

                if (returned_speech == 'on-screen' || returned_speech == 'home screen') {
                    command = returned_speech;
                    console.log('the command is ' + command);
                    isCommand = true;
                    activateModal();
                }

                // if (returned_speech == 'june search') {
                //     command = returned_speech;
                //     console.log('the command is ' + command);
                //     isCommand = true;
                //     recognition.start();
                // }

                var interim_transcript = '';
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += event.results[i][0].transcript;
                    } else {
                        input_val.value += event.results[i][0].transcript;
                    }
                }
                input_val.value = capitalize(final_transcript);
                console.log(input_val.value);
                if (input_val.value && isCommand === false) {
                    submitForm();
                }
            };

            // Submit Form
            function submitForm() {
                document.getElementById('search-form').submit();
            }

            // Capitalize
            var first_char = /\S/;
            function capitalize(s) {
                return s.replace(first_char, function(m) { return m.toUpperCase(); });
            }

            // Start Button
            function startButton(event) {
                if (recognizing) {
                    recognition.stop();
                    return;
                }
                final_transcript = '';
                //recognition.lang = select_dialect.value;
                recognition.start();
                ignore_onend = false;
                //final_span.innerHTML = '';
                // grab input value to be editting on speech
                var input_val = document.getElementById('form-input');
                input_val.value = '';
                //interim_span.innerHTML = '';
                //start_img.src = 'mic-slash.gif';
                //showInfo('info_allow');
                //howButtons('none');
                start_timestamp = event.timeStamp;
            }
        }
        </script>
    {% endblock %}
    <!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/main-node.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>